<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <nav>
    <span>Pokemon Traders</span>
  </nav>
  <% for(var i = 0; i < cards.length; i++) { %>
    <% if (i === 0 || i % 3 === 0) { %>
      <div class="row">
    <% } %>
      <div class="col-sm">
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-body">
               <h4 class="card-title"><%= cards[i].title %></h4>
               <div ><%- cards[i].title %></div>
               <img src="<%- cards[i].thumbnail_photo_url %>" title="<%- cards[i].title %>" alt="alt text here"/>
               <div ><%- cards[i].cost %></div>
               <div><%- cards[i].active %></div>
            </div>
        </div>
      </div>
    <% if (i === 0 || i % 3 === 0) { %>
      </div>
    <% } %>
  <% } %>


  <!-- <% for(let card of cards) {%>
    <div><%- cards.indexOf(card) %></div>
    <div ><%- card.title %></div>
    <img src="<%- card.thumbnail_photo_url %>" title="<%- card.title %>" alt="alt text here"/>
    <div ><%- card.cost %></div>
    <div><%- card.active %></div>

    <% } %> -->
</body>

</html>
